<div class='text-center mr-4'>
<h1>Rails Blog</h1>
</div>
<div class='text-center mr-4'>
<%= link_to new_post_path do %>
<i class="fas fa-pen-square fa-3x"></i>
<% end %>
<%= link_to root_path do %>
<i class="fas fa-home fa-3x"></i>
<% end %>
</div>